<ion-header>
  <ion-navbar color ="primary">
    <ion-title>
      Name Database App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="clear()">Clear</button>
  <br>
  <button ion-button (click)="add()">Add</button>
  <input type="text" [(ngModel)]="input" (keyup)="keyPressed($event)">
  <br>
  <button ion-button (click)="pop()">Pop</button>
  <br>
  <button ion-button (click)="shift()">Shift</button>
  <br>
  <button ion-button (click)="sort()">Sort</button>
  <br>
  <h3>message :
    <h3 *ngIf="!message; else showmessage"> </h3> 
  </h3>
  <ng-template #showmessage>
      <h3>{{message}}</h3>
  </ng-template>

  <ul>
    <li *ngFor="let f of names">
      {{ f}}
    </li>
  </ul>
  
</ion-content>
